$navbar-padding-y: -20rem;
$navbar-padding-x: -20rem;
@import "~bootstrap/scss/bootstrap";
.header {
    height: 600px;
    background-image: url(/image/banierecap.jpg);
    background-size: cover;
}

.wrapper-header {
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textheader {
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.616);
}

.h1header {
    text-align: center;
}

.pheader {
    text-align: center;
    border-bottom: solid;
}

.cssimg1 {
    text-align: center;
    background-color: rgb(216, 210, 210);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cssimg2 {
    background-color: rgb(216, 210, 210);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cssimg3 {
    text-align: center;
    background-color: rgb(216, 210, 210);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footerr {
    height: 150px;
    background-image: url(/image/Capoeira-plage.jpg);
    background-size: cover;
    padding-top: 4%;
}